<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cipher Converter</title>
</head>
<body>

    <h1>Enkripsi Dekripsi Cipher </h1>
    <h3>Your plain text</h3>
    <input type="text" name="input_text" id="input_text" size="25"> <br>

    <h3>Shift Cipher</h3>
    <button id="encyrptShiftCipherBtn">Encrypt</button>
    <button id="decryptShiftCipherBtn">Decrypt</button>

    <input type="number" name="key-shift" id="key-shift" placeholder="Key for shifting">

    <p>Result is </p>
    <p id="result"></p>
    
    <script type="text/javascript" src="../script/script.js"></script>
</body>
</html>